<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-100">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="display-3 text-white text-center">TrustMyVote
                <span style="font-style:italic">"No more doubting if your vote really counts"</span>
              </h1>
              <p class="lead text-white">USSD voting for events is organized almost everyday in Ghana. Some notable events include VGMAs, Ghana's most beatiful, Ghana beverage awards, Ghana startups awards, Ghana movie wards etc. There has been several intances where candidates in some categories of these awards complain of organizers cheating them by rigging the voting process. A popular case was the notable issue relating 'song of the year' category in the recent Vodafone Ghana Music awards. The assumption is that, organizers input votes for their favourite candidates and that the results and winners were not the original. <strong id="name-in-text">TrustMyVote</strong> seeks to address this issue by implementing a software platform that allows event organizers to create events for people to vote using Blockchain to store votes where they cannot be altered.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
</main>
