<main>
  <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-150">
      <div class="row row-grid mt-1">
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <form (submit)="createEvent(f)" #f="ngForm" autocomplete="off">
                <div class="form-group">
                  <label for="title">Event Title</label>
                  <div class="input-group input-group-alternative">
                    <input name="title" id="title" ngModel class="form-control" required type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label for="description">Event Description</label>
                  <input name="description" id="description" ngModel class="form-control" required type="text">
                </div>
                <div class="form-group">
                  <label for="startDate">Event Start Date</label>
                  <div class="input-group input-group-alternative">
                    <input name="startDate" id="startDate" ngModel class="form-control" required type="date">
                  </div>
                </div>
                <div class="form-group">
                  <label for="endDate">Event End Date</label>
                  <div class="input-group input-group-alternative">
                    <input name="endDate" id="endDate" ngModel class="form-control" required type="date">
                  </div>
                </div>
                <div class="mt-4">
                  <button type="submit" class="btn btn-default btn-round btn-block btn-lg">Create Event</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
